@page "/add-projeto"
@layout AdicionarLayout
@inherits TrabalhoBd.Pages.AddProjetoComponent

@using Radzen
@using Radzen.Blazor
@using TrabalhoBd.Models.Trabalho
<PageTitle>Add Projeto</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@projeto" TItem="TrabalhoBd.Models.Trabalho.Projeto" Visible="@(projeto != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Nome" style="width: 100%" Text="Nome">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(projeto.Nome)" Name="Nome">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Nome" style="position: absolute" Text="Campo Obrigatorio">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Short_Name" style="width: 100%" Text="Short Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(projeto.Short_Name)" Name="Short_Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Short_Name" style="position: absolute" Text="Campo Obrigatorio">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Descricao" style="width: 100%" Text="Descricao">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(projeto.Descricao)" Name="Descricao">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ID_UC" style="width: 100%" Text="Unidade Curricular">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid AllowColumnResize="false" AllowFiltering="true" AllowSorting="true" Data="@getUcsResult" Disabled="false" MaxSelectedLabels="1" SelectedValue="@(projeto.ID_UC)" style="display: block" TextProperty="Nome" @bind-Value="@(projeto.ID_UC)" ValueProperty="ID" Name="ID_UC">
                  <Columns>
                    <RadzenDropDownDataGridColumn Property="Nome" Title="Unidade Curricular">
                    </RadzenDropDownDataGridColumn>
                    <RadzenDropDownDataGridColumn Property="NomeInst" Title="Instituição">
                    </RadzenDropDownDataGridColumn>
                  </Columns>
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="ID_UC" style="position: absolute" Text="Campo Obrigatorio">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Max_Cost" style="width: 100%" Text="Custo Máximo">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(projeto.Max_Cost)" Name="Max_Cost">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Max_Cost" style="position: absolute" Text="Campo Obrigatorio">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="DOI" style="width: 100%" Text="DOI">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(projeto.DOI)" Name="DOI">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="DOI" style="position: absolute" Text="Campo Obrigatorio">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Data_Init" style="width: 100%" Text="Data Inicial">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="D" style="display: block; width: 100%" @bind-Value="@(projeto.Data_Init)" YearRange="2021:2050" Name="Data_Init">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="Data_Init" style="position: absolute" Text="Campo Obrigatorio">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Data_Fin" style="width: 100%" Text="Data Final ">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="D" style="width: 100%" @bind-Value="@(projeto.Data_Fin)" YearRange="2021:2050" Name="Data_Fin">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Cientific_Domain" style="width: 100%" Text="Dominio Cientifico">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(projeto.Cientific_Domain)" Name="Cientific_Domain">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Cientific_Domain" style="position: absolute" Text="Campo Obrigatorio">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ID_IR" style="width: 100%" Text="Responsável">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown AllowSelectAll="false" Data="@getInvestigadorsResult" Multiple="false" style="display: block" TextProperty="Nome" @bind-Value="@(projeto.ID_IR)" ValueProperty="ID" Name="ID_IR">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="ID_IR" style="position: absolute" Text="Campo Obrigatorio">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Click="@Button1Click">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
