@page "/add-patrocinador-privado"
@layout AdicionarLayout
@inherits TrabalhoBd.Pages.AddPatrocinadorPrivadoComponent

@using Radzen
@using Radzen.Blazor
@using TrabalhoBd.Models.Trabalho
<PageTitle>Add Patrocinador_Privado</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@patrocinador" Visible="@(patrocinador != null)" TItem="TrabalhoBd.Models.Trabalho.Patrocinador" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Nome" Component="Nome" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(patrocinador.Nome)" Name="Nome">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Nome" Text="Nome is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Descricao" Component="Descricao" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(patrocinador.Descricao)" Name="Descricao">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Descricao" Text="Descricao is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Email" Component="Email" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(patrocinador.Email)" Name="Email">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Email" Text="Email is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tel" Component="Tel" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(patrocinador.Tel)" Name="Tel">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Tel" Text="Tel is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Designacao" Component="Designacao" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(patrocinador.Designacao)" Name="Designacao">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Designacao" Text="Designacao is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Sigla" Component="Sigla" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(patrocinador.Sigla)" Name="Sigla">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Sigla" Text="Sigla is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Morada" Component="Morada" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(patrocinador.Morada)" Name="Morada">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Morada" Text="Morada is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Url" Component="URL" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(patrocinador.URL)" Name="URL">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="URL" Text="URL is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Pais" Component="Pais" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(patrocinador.Pais)" Name="Pais">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Pais" Text="Pais is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
