@page "/projeto"
@layout EditLayout
@inherits TrabalhoBd.Pages.ProjetoComponent

@using Radzen
@using Radzen.Blazor
@using TrabalhoBd.Models.Trabalho
<PageTitle>Projeto</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Projeto">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getProjetosResult" TItem="TrabalhoBd.Models.Trabalho.Projeto" RowDoubleClick="@Grid0RowDoubleClick">
          <Columns>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="ID" Title="ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Nome" Title="Nome">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Short_Name" Title="Short Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Descricao" Title="Descricao">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="ID_UC" Title="ID UC">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Max_Cost" Title="Max Cost">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Total_Cost" Title="Total Cost">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="DOI" Title="DOI">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="State" Title="State">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Data_Init" FormatString="{0:d}" Title="Data Init">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Data_Fin" FormatString="{0:d}" Title="Data Fin">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="Cientific_Domain" Title="Cientific Domain">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Property="ID_IR" Title="ID IR">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TrabalhoBd.Models.Trabalho.Projeto" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="trabalhoBdModelsTrabalhoProjeto">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, trabalhoBdModelsTrabalhoProjeto))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
